:root {
    --color-background: #F90083;
    --color-primary-text: white;
    --color-blue: #0045DD; 
}


* {
    width:100%;
    margin: 0;
    padding: 0;
    border: 0;
    
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}


