header {
    background: var(--color-background);
    color: var(--color-primary-text);
    display: grid;
    grid-template-columns: 46% 54%;
    grid-template-rows: 50px 1fr 60px;
    grid-template-areas:    "logo logo"
                            "text imagetop"
                            "falsebtn imagetop";
    padding: 25px 25px 0px 25px;
}

header .logo{
    grid-area: logo;
    padding-top: 10px;
    padding-left: 40px;
}

header .text{
    grid-area: text;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
}

header .text h1{
    font-family: "Mori-Gothic-Light", sans-serif;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}

header .text p{
    font-family: "Mori-Gothic-Light", sans-serif;
    font-size: 22px;
    font-weight: 100;
    line-height:35px;
}

header .imagetop {
    grid-area: imagetop;
 
}

header .imagetop .principalimage {
    width: 100%;
}

header .text .btn {
    font-family: "Mori-Gothic-Light", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--color-blue);
    color: var(--color-primary-text);
    padding: 12px 24px;
    border: none;
    margin-top: 20px;
    border-radius: 50px;
}

header .text .btn:hover {
    background-color: var(--color-primary-text);
    color: var(--color-background);
    opacity: 0.8;
}

header .falsebtn{
    grid-area: falsebtn;
    font-family: "Mori-Gothic-Light", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--color-primary-text);
    color: var(--color-blue); 
    border-radius: 29px 29px 0 0;
    padding: 10px;
    border: none;
    margin-left: 5vh;
    margin-right: 10vh;
    min-width: 480px;
}

@keyframes bounce {
    0%, 20%, 60%, 100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }

    80% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
}
header .falsebtn .whatsimage:hover{
    animation: bounce 3s infinite;
}

header .falsebtn .textbtn {
    font-family: "Mori-Gothic-Light", sans-serif;
    font-size: 15px;
    background: var(--color-primary-text);
    color: var(--color-blue); 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;     
}

/*=========MEDIA QUERIES (DISPOSITIVOS MÉDIOS) ==========*/
@media screen and (max-width:1020px){
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 60px 90px;
        grid-template-areas:    "logo"
                                "text"
                                "falsebtn" 
                                "imagetop";
        padding: 40px 0px;
}
    header .text h1{
        font-family: "Mori-Gothic-Light", sans-serif;
        font-size: 30px;
        font-weight: 550;
        padding-bottom: 20px;
        
}
    
    header .text p{
        font-family: "Mori-Gothic-Light", sans-serif;
        font-size: 14px;
        font-weight: 100;
        line-height:25px;
}

    header .text .btn {
            margin-bottom: 20px;
}

    header .falsebtn{

            border-radius: 29px;
}

header .falsebtn .whatsimage:hover{
    animation: none;
}

    header .imagetop {
        margin-top: 20px;
        padding: -20px;
}
}



/*=========MEDIA QUERIES (DISPOSITIVOS PEQUENOS) ==========*/
@media screen and (max-width:600px){
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 60px 90px;
        grid-template-areas:    "logo"
                                "text"
                                "falsebtn" 
                                "imagetop";
        padding: 40px 0px;
}
    header .text h1{
        font-family: "Mori-Gothic-Light", sans-serif;
        font-size: 30px;
        font-weight: 550;
        padding-bottom: 20px;
}
    
    header .text p{
        font-family: "Mori-Gothic-Light", sans-serif;
        font-size: 14px;
        font-weight: 100;
        line-height:25px;
}

    header .text .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
}
        
    header .falsebtn{
        margin-left: auto;
        margin-right: auto;
}

header .falsebtn .whatsimage:hover{
    animation: none;
}

    header .imagetop {
        margin-top: 20px;
}
}


